/app/* @officelifehq/core-members
/bootstrap/* @officelifehq/core-members
/config/* @officelifehq/core-members
/database/* @officelifehq/core-members
/resources/* @officelifehq/core-members
/routes/* @officelifehq/core-members
