/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/mix-manifest.json
/results
/storage/*.key
/tests/Features/screenshots/
/tests/Features/videos/
/vendor
.env
.env.cypress.local
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
