{
  "branches": [
    "release",
    {"name": "next", "prerelease": true},
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
          {"type": "refactor", "scope": "inertia", "release": "minor"},
          {"type": "refactor", "release": "patch"},
          {"scope": "no-release", "release": false}
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator", {
        "preset": "angular",
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        },
        "writerOpts": {
          "commitsSort": ["scope"]
        }
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/exec", {
        "prepareCmd" : "scripts/package.sh '${nextRelease.version}'",
        "publishCmd" : "scripts/publish.sh '${nextRelease.version}' 'officelife-${nextRelease.version}.tar.bz2'"
      }
    ]
  ]
}
