input[type=text],
input[type=email],
input[type=password],
textarea {
  transition: border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;

  &:focus,
  &:active {
    background-color: #fff;
    border-color: #346cb0;
    outline: 0;
    box-shadow: 0 0 0 1px #346cb0;
  }

  &:empty {
    background-color: #fbfbfd;
  }
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}
